@font-face {
  font-family: "Pokemon Fire Red";
  src: url("../assets/Pokemon-Fire-Red.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("../assets/forest.png");
  background-size: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #880b62;
  color: #fff;
  margin-bottom: 2%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.search {
  display: flex;
  justify-content: center;
  width: 50%;
  gap: 10px;
}

.searchTerm {
  height: 43px;
  width: 70%;
}

.searchTerm::placeholder {
  text-align: center;
}

.firma {
  width: 55px;
  height: 55px;
  margin-left: 2%;
  filter: brightness(0) invert(1);
}

button {
  background-color: #00c9a7;
  border: none;
  border-radius: 3px;
  padding: 7px 25px;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.2s;
  font-family: "Pokemon Fire Red";
}

button:hover {
  background-color: #b39cd0;
}

a {
  text-decoration: none;
  color: #000;
}

/*Types */
.bug {
  background: #92bc2c;
  box-shadow: 0 0 20px #92bc2c;
}

.dark {
  background: #595761;
  box-shadow: 0 0 20px #595761;
}

.dragon {
  background: #0c69c8;
  box-shadow: 0 0 20px #0c69c8;
}

.electric {
  background: #f2d94e;
  box-shadow: 0 0 20px #f2d94e;
}

.fire {
  background: #fba54c;
  box-shadow: 0 0 20px #fba54c;
}

.fairy {
  background: #ee90e6;
  box-shadow: 0 0 20px #ee90e6;
}

.fighting {
  background: #d3425f;
  box-shadow: 0 0 20px #d3425f;
}

.flying {
  background: #a1bbec;
  box-shadow: 0 0 20px #a1bbec;
}

.ghost {
  background: #5f6dbc;
  box-shadow: 0 0 20px #5f6dbc;
}

.grass {
  background: #5fbd58;
  box-shadow: 0 0 20px #5fbd58;
}

.ground {
  background: #da7c4d;
  box-shadow: 0 0 20px #da7c4d;
}

.ice {
  background: #75d0c1;
  box-shadow: 0 0 20px #75d0c1;
}

.normal {
  background: #a0a29f;
  box-shadow: 0 0 20px #a0a29f;
}

.poison {
  background: #b763cf;
  box-shadow: 0 0 20px #b763cf;
}

.psychic {
  background: #fa8581;
  box-shadow: 0 0 20px #fa8581;
}

.rock {
  background: #c9bb8a;
  box-shadow: 0 0 20px #c9bb8a;
}

.steel {
  background: #5695a3;
  box-shadow: 0 0 20px #5695a3;
}

.water {
  background: #539ddf;
  box-shadow: 0 0 20px #539ddf;
}
