.pokemon_detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  background-color: rgba(251, 234, 255, 0.6);
  font-family: "Pokemon Fire Red";
  font-size: 1.5rem;
  width: 50%;
  border-radius: 3px;
  padding: 1% 0;
  margin: 0 auto;
  box-shadow: 14px 10px 10px rgba(0, 0, 0, 0.3);
}

.pokemonName {
  text-transform: capitalize;
  margin-bottom: 1%;
}

.description {
  margin: 1% 0;
}

.detail_image {
  padding: 20px;
  border-radius: 3px;
  border: 1px solid #000;
}

.detail_image img {
  width: auto;
  height: 150px;
}

.types {
  display: flex;
  justify-content: center;
  margin: 1% auto;
  gap: 20px;
  width: 12%;
  min-width: 230.4px;
}

.icon {
  border-radius: 100%;
  height: 100px;
  width: 100px;
  margin: auto;
  transition: 200ms all;
}

.icon:hover {
  filter: saturate(200%);
  transform: scale(1.1);
  cursor: pointer;
}

.icon img {
  height: 60%;
  width: 60%;
  margin: 20%;
}
